@model NotDefteri.Models.Not

<div class="card shadow p-4">
    <h3 class="mb-3">Notu Düzenle</h3>

    <form asp-action="Duzenle" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label class="form-label">Başlık</label>
            <input asp-for="Baslik" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">İçerik</label>
            <textarea asp-for="Icerik" class="form-control" rows="5"></textarea>
        </div>

        <div class="form-check mb-3">
            <input asp-for="OnemliMi" class="form-check-input" />
            <label class="form-check-label">Önemli</label>
        </div>

        <button type="submit" class="btn btn-success">Güncelle</button>
    </form>
</div>